html, body {
    background: #cecece;
    margin: 0;
    padding: 30px 30px;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

nav ul li a:hover {
    background-color: #111;
}

form input {
    margin: 5px 0;
    padding: 4px;
    font-size: 14px;
}

/*h1 {*/
    /*padding: 20px;*/
/*}*/

/*form {*/
    /*padding: 0px 69px;*/
/*}*/
